<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var x="<%= user.adventurer %>";
        $(function () {
            const socket = io();
            $('#taketurn').submit(function(t) {
                t.preventDefault();
                var charaction = $('input[name="action"]:checked').val()
                var xchar = x
                socket.emit('take turn', {action: charaction, char: xchar})
                $('input[name="action"]').prop('checked', false)
                return false
            })
            $('#chitchat').submit(function(e) {
                e.preventDefault(); // prevents page reloading
                var xmessage = {message: $('#talk').val(), sender: x}
                socket.emit('chat message', xmessage)
                $('#talk').val('');
                return false;
            })
            socket.on('chat message', function(msg){
                $('#messages').prepend($('<li>').text(msg.sender + ": " + msg.message))
            })
            socket.on('move action', function(msg) {
                $('#drawing').attr('height', msg.height)
                $('#drawing').attr('width', msg.width)
                $('#drawing').attr('x', msg.wallx)
                $('#drawing').attr('y', msg.wally)
                $('[id^=door]').remove()
                $('#exits').empty()
                for (let i = 0; i < msg.params.door.length; i++) {
                    $('#room').append('<rect id="door'+i+'" />')
                    $('#door'+i).attr('x', msg.params.door[i].x)
                    $('#door'+i).attr('y', msg.params.door[i].y+20)
                    $('#door'+i).attr('width', 12)
                    $('#door'+i).attr('height', 24)
                    $('#door'+i).attr('style', "fill:#555555")
                    $('#exits').append('<input type="radio" name="action" value="m'+
                        msg.params.door[i].to+'">Move to '+msg.params.door[i].to+'<br>')
                }
                $('#room').html(function(){return this.innerHTML})
                $('#messages').prepend($('<li>').text(msg.char+' has moved to '+msg.params.name))
            })
        })
    </script>
    <title>Adventures for everyone</title>
</head>
<link href="/third.css" rel="stylesheet" type="text/css">

<div id="main">
    <div id="title">
        <h2>The Adventure of ... <%= user.adventurer %>!</h2>
    </div>
    <div id="chat">
            <svg id="room" >
                <rect id="drawing" x="<%= dungeon.wallx %>" y="<%= dungeon.wally %>" rx="1" ry="1"
                    width = "<%= dungeon.width %>" height="<%= dungeon.height %>"
                    stroke="gray" stroke-width="16"
                    style="fill:black;"
                />
                <% for (var j in dungeon.params.door) { %>
                    <rect id="door<%= j %>" x="<%= dungeon.params.door[j].x %>"
                        y="<%= dungeon.params.door[j].y %>"
                        width="12" height="24" style="fill:#555555"
                    />
                <% } %>
            </svg>
    </div>
    <div id="stats">
        <p>For the stats</p>
    </div>
    <div id="monster">
        <p>Evil monsters</p> 
    </div>
    <div id="talk">
        <div id="list">
            <ul id="messages">
            </ul>
        </div>
        <form id="chitchat" action="send">
            <input id="talk" autocomplete="off" /><button id="chatbutton">Chat</button>
        </form>
    </div>
</div>